#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
#canvas{
	text-align:center;
	background-color: #BDB76B;
}
#calculation{
	font-size:30px;
}
#Clock{
	color: black;
}

#score{
	color: white;
	margin-left: 140px;
	font-size: 20px;
}

